<main>
<!-- =======================
Page intro START -->
<section class="bg-blue py-7">
	<div class="container">
		<div class="row justify-content-lg-between">

			<div class="col-lg-8">
				<!-- Title -->
				<h1 class="text-white">{{course.name}}</h1>
				<p class="text-white">{{course.description}}.</p>
				
				<!-- Content -->
				<ul class="list-inline mb-5">
					<li class="list-inline-item h6 me-4 mb-1 mb-sm-0 text-white"><span class="fw-light">By</span> {{course.author.name}}</li>
					<li class="list-inline-item me-4 mb-1 mb-sm-0">
						<ul class="list-inline mb-0">
							<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
							<li class="list-inline-item ms-2 h6 text-white">4.5/5.0</li>
							
						</ul>
					</li>
					<li class="list-inline-item h6 mb-0 text-white"><i class="fas fa-globe text-info me-2"></i>{{course.level}}</li>
				</ul>
			</div>

			<div class="col-lg-3">
				
				<!-- Button -->
				<a class="btn btn-warning mb-3 w-100" id="enrollCourse" href="/courses/learn/{{course.slug}}">Enroll Course</a>
				{{!-- <form action="/courses/{{user.id}}/save" method="POST">
				<button type="submit" class="btn btn-warning mb-3 w-100" id="enrollCourse" >Enroll Course</button>
				</form> --}}
				
			
			</div>

		</div>
	</div>
</section>
<!-- =======================
Page intro END -->

<!-- =======================
Page content START -->
<section class="pt-0">
	<div class="container">
		<div class="row">
			<!-- Main content START -->
			<div class="col-12">
				<div class="card shadow rounded-2 p-0 mt-n5">
					<!-- Tabs START -->
					<div class="card-header border-bottom px-4 pt-3 pb-0">
						<ul class="nav nav-bottom-line py-0" id="course-pills-tab" role="tablist">
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0 active" id="course-pills-tab-1" data-bs-toggle="pill" data-bs-target="#course-pills-1" type="button" role="tab" aria-controls="course-pills-1" aria-selected="true">Course Materials</button>
							</li>
							<!-- Tab item -->
							
						</ul>
					</div>
					<!-- Tabs END -->

					<!-- Tab contents START -->
					<div class="card-body p-sm-4">
						<div class="tab-content" id="course-pills-tabContent">
							<!-- Content START -->
							<div class="tab-pane fade show active" id="course-pills-1" role="tabpanel" aria-labelledby="course-pills-tab-1">
								<!-- Accordion START -->
								<div class="accordion accordion-icon accordion-border" id="accordionExample2">
									<!-- Item -->
									{{#each course.lecture}}
									<div class="accordion-item mb-3">
										<h6 class="accordion-header font-base" id="heading-1">
											<button class="accordion-button fw-bold rounded d-flex collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{@key}}" aria-expanded="true" aria-controls="collapse-1">
												{{this.lectureName}}
											</button>
										</h6>
										
										<div id="collapse-{{@index}}" class="accordion-collapse collapse" aria-labelledby="heading-1" data-bs-parent="#accordionExample2">
											<div class="accordion-body mt-3">
												<!-- Course lecture -->
												{{#each this.topic}}
												<div class="d-flex justify-content-between align-items-center">
													<div class="d-flex align-items-center">
														<!-- Video button -->
														<a data-glightbox data-gallery="office-tour" href="https://www.youtube.com/embed/{{this.videoID}}" class="icon-md position-relative">
															<img src="assets/images/courses/4by3/01.jpg" class="rounded-1"  alt="">
															<small class="text-white position-absolute top-50 start-50 translate-middle"><i class="fas fa-play me-0 "></i></small>
														</a>

														<!-- Content -->
														
														<div class="ms-3">
															<a href="#" class="d-inline-block text-truncate mb-0 h6 fw-normal w-100px w-sm-200px w-md-400px"> {{this.topicName}}</a>
															
														</div>
													</div>

													<!-- Actions Mark button -->
													
														
													</a>
												</div>

												<hr> <!-- Divider -->
												{{/each}}

												<!-- Course assignment -->
												{{!-- <div class="d-flex justify-content-between align-items-center">
													<div class="position-relative d-flex align-items-center">
														<div class="d-flex align-items-center">
															<!-- Video button -->
															<a href="#" class="icon-md mb-0 position-static flex-shrink-0 text-body">
																<i class="fas fa-fw fa-file-signature fs-5"></i>
															</a>
															<!-- Content -->
															<div class="ms-3">
																<a href="#" class="d-inline-block text-truncate mb-0 h6 fw-normal w-100px w-sm-200px w-md-400px">Assignments 1 - Research about marketing</a>
																<ul class="nav nav-divider small mb-0">
																	<li class="nav-item">20pts</li>
																	<li class="nav-item"><a href="#">Submit</a></li>
																</ul>
															</div>
														
														</div>
													</div>
													<!-- Actions Mark button -->
													<a href="#" class="p-2 mb-0 text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Completed">
														<i class="bi bi-check-circle-fill"></i>
													</a>	
												</div> --}}

												{{!-- <hr> <!-- Divider -->  --}}

												<!-- Course slide -->
												

												{{!-- <hr> <!-- Divider -->  --}}

												<!-- Course slide -->
												
											</div>
										</div>
									</div>
									{{/each}}

								</div>
									

									
							</div>
							<!-- Content END -->

							
							

							

						</div>
					</div>
					<!-- Tab contents END -->
				</div>
			</div>
			<!-- Main content END -->
		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
